
.pagination-container {
    display: block;
    margin-top: 32px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.pagination li {
    padding: 16px 24px;
    border: 1px solid #444;
    border-radius: 50%;
    margin-right: 8px;
}

.pagination li.active {
    background-color: #333;
    color: #fff;
}
