
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Client_Layout.cshtml"; }
@section  Header{
    <a href="~/Home" class="nav-item nav-link">Trang chủ</a>
    <a href="~/Special" class="nav-item nav-link">Khuyến mãi</a>
    <a href="~/News/Index" class="nav-item nav-link">Bài viết</a>
    <a href="~/Menu" class="nav-item nav-link active">Menu</a>
}
@section Introduction{

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Thực đơn</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                    <li class="breadcrumb-item text-white active" aria-current="page">Thực đơn</li>
                </ol>
            </nav>
        </div>
    </div>
}

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
            </h2>
        </div>

        @*<*@
        <!--div class="filters_menu">

            <button class="w3-bar-item w3-button" onclick="openCity('London')">London</button>
            <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Paris</button>
            <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Tokyo</button>
        </div>-->
        <div class="filters-content" id="Tất cả">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="~/Web_Client/img/launuong.jpg" />
                            </div>
                            <div class="detail-box">
                                <h5 style="color:white">
                                    Lẩu nướng
                                </h5>
                                <p>

                                    Combo đầy đủ thịt 3 chỉ lợn, thịt gà, các loại rau ăn kèm, nước sốt chấm

                                </p>
                                <div class="options">
                                    <h6 style="color:white">
                                        200,000 VNĐ/1 suất
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="~/Web_Client/img/bunbotron.jpg" />
                            </div>
                            <div class="detail-box">
                                <h5 style="color:white">
                                    Bún bò trộn Nam Bộ
                                </h5>
                                <p>
                                    Đảm bảo thịt tươi mua hàng ngày, nói không với thịt đông lạnh
                                </p>
                                <div class="options">
                                    <h6 style="color:white">
                                        30,000 VNĐ/1 suất
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="~/Web_Client/img/f3.png" />
                            </div>
                            <div class="detail-box">
                                <h5 style="color:white">
                                    Pizza hải sản
                                </h5>
                                <p>
                                    Tôm, mực, thanh cua, ớt chuông, hành tây, dứa, sốt cà chua tươi, phô mai
                                </p>
                                <div class="options">
                                    <h6 style="color:white">
                                        85,000 VNĐ/1 suất
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="~/Web_Client/img/mon-bo-bit-tet.jpg" />
                            </div>
                            <div class="detail-box">
                                <h5 style="color:white">
                                    Bít tết
                                </h5>
                                <p>
                                    Gồm Thịt bò,trứng,hành tây,nước sốt, bánh mỳ
                                </p>
                                <div class="options">
                                    <h6 style="color:white">
                                        70,000 VNĐ/ 1 suất
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="~/Web_Client/img/f9.png" />
                            </div>
                            <div class="detail-box">
                                <h5 style="color:white">
                                    Pasta
                                </h5>
                                <p>

                                    Combo đầy đủ thịt 3 chỉ lợn, mỳ, nước sốt chấm

                                </p>
                                <div class="options">
                                    <h6 style="color:white">
                                        99,000 VNĐ/1 suất
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="~/Web_Client/img/bunnemtron.jpeg" />
                            </div>
                            <div class="detail-box">
                                <h5 style="color:white">
                                    Bún nem trộn Nam Bộ
                                </h5>
                                <p>
                                    Đảm bảo thịt cuốn nem chất lượng,đạt tiêu chuẩn
                                </p>
                                <div class="options">
                                    <h6 style="color:white">
                                        45,000 VNĐ/1 suất
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="~/Web_Client/img/f3.png" />
                            </div>
                            <div class="detail-box">
                                <h5 style="color:white">
                                    Pizza
                                </h5>
                                <p>
                                    thanh cua, ớt chuông, hành tây, dứa, sốt cà chua tươi, phô mai
                                </p>
                                <div class="options">
                                    <h6 style="color:white">
                                        105,000 VNĐ/1 suất
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="~/Web_Client/img/khoaitaychien.jpg" />
                            </div>
                            <div class="detail-box">
                                <h5 style="color:white">
                                    Khoai tây chiên sốt phô mai


                                </h5>
                                <p>
                                    Gồm khoai tây chiên,mozzarella,hành lá,sốt kem
                                    --------------------------------
                                </p>
                                <div class="options">
                                    <h6 style="color:white">
                                        28,000 VNĐ/ 1 suất
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                Xem thêm
            </a>
        </div>
    </div>
</section>
