
284-cust
.page-body {
    background: #fff !important;
    min-height: 420px !important;
    padding: 18px 20px 24px;
}
* {
    box-sizing: border-box;
    outline: none !important;
}
div {
    display: block;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
    line-height: 1.5;
}
body {
    font-size: 14px;
    color: #21292d;
    letter-spacing: .2px;
}
body, html, html a {
    -webkit-font-smoothing: antialiased;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    
    box-sizing: border-box;
}
